:root {
  --mainColor: #ff9800;
}

* {
  padding: 0;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

ul {
  list-style: none;
}

body {
  background-color: #343434;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  height: 100vh;
}

a,
h1,
input[type="text"],
input[type="url"] {
  padding: 0.5rem;
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #343434;
  text-decoration: none;
  transition: background-size 0.2s;
}

a:hover,
input:focus {
  background-size: 4px 50px;
}

h1 {
  padding: 0.5rem;
  color: #343434;
  font-family: Source Sans Pro, sans-serif;
  font-size: 4rem;
  font-weight: 900;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: #ededed;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

form input {
  font-family: Source Sans Pro, sans-serif;
  background-color: transparent;
  margin: 0.5rem;
  padding: 0.8rem;
  width: 100%;
  text-align: center;
  border-style: none;
  font-size: 1rem;
}

.new-post-div input[type="text"],
.new-post-div input[type="url"] {
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  color: #343434;
  text-decoration: none;
  transition: background-size 0.2s;
}

form input::placeholder,
label {
  font-size: 1.3rem;
  color: #343434;
}

form input:focus {
  font-size: 1rem;
}
form input:focus::placeholder {
  color: transparent;
}

form input[type="submit"] {
  border-radius: 20px;
  color: white;
  background-color: #4a77e0;
}

form input[type="submit"]:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.profile {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

img {
  width: 30vh;
  border-radius: 20px;
  margin: 2rem;
  height: 30vh;
  object-fit: cover;
}

.del-edit-btns {
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
}

.del input {
  background-color: lightcoral !important;
}

.del {
  width: 50%;
}

.edit {
  width: 50%;
}

.edit-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.content-btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.content {
  margin: 2rem;
}

.post-profile {
  display: flex;
  flex-flow: column nowrap;
}
