{% extends 'base.html' %} {% block title %} Blogsly - {{full_name}} {% endblock
%} {% block content %}
<section>
  <div class="profile">
    <img src="{{user.img_url}}" />
    <div>
      <h1>
        <a href="/users/{{user.id}}">{{full_name}}</a>
      </h1>
      <form action="/posts/{{post.id}}/edit" method="POST" class="edit-form">
        <label for="title">Title</label>
        <input
          type="title"
          name="title"
          placeholder="{{post.title}}"
          autocomplete="OFF"
        />
        <label for="content">Content:</label>
        <input
          type="text"
          name="content"
          placeholder="{{post.content}}"
          autocomplete="OFF"
        />
        <input type="submit" value="SUBMIT" />
      </form>
    </div>
  </div>
</section>

{% endblock %}
