{% extends 'base.html' %} {% block title %} Blogsly Post - {{full_name}} {%
endblock %} {% block content %}
<section>
  <div class="profile">
    <img src="{{user.img_url}}" />
    <div>
      <h1>{{post.title}}</h1>
      <p>Author:
        <a href="/users/{{user.id}}">{{full_name}}</a>
      <p>
      <p class="content">{{post.content}}</p>
      <div class="content-btns">
        <form action="/posts/{{post.id}}/delete" method="POST"class="del">
          <input type="submit" value="DELETE" />
        </form>
        <form action="/posts/{{post.id}}/edit" class="edit">
          <input type="submit" value="EDIT" />
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
