{% extends 'base.html' %} {% block title %} Blogsly - {{full_name}} {% endblock
%} {% block content %}
<section>
  <div class="profile">
    <div class="post-profile">
      <img src="{{user.img_url}}" />
      <a href="/user/{{user.id}}">{{full_name}}</a>
    </div>
    <div class="new-post-div">
      <h1>New Post</h1>
      <form action="/users/{{user.id}}/posts/new" method="POST">
        <label for="title">Title:</label>
        <input
          type="text"
          name="title"
          autocomplete="OFF"
        />
        <label for="content">Content:</label>
        <input
          type="text"
          name="content"
          autocomplete="OFF"
        />
        <input type="submit" value="SUBMIT" />
      </form>
    </div>
  </div>
</section>

{% endblock %}
