{% extends 'base.html' %} {% block title %} Blogsly - {{full_name}} {%
endblock %} {% block content %}
<section>
  <div class="profile">
    <img src="{{user.img_url}}" />
    <div>
      <h1>
        <a href="/users">{{full_name}}</a>
      </h1>
      <div class="del-edit-btns">
        <form action="/users/{{user.id}}/delete" method="POST" class="del">
          <input type="submit" value="DELETE" />
        </form>
        <form action="/users/{{user.id}}/edit" method="POST" class="edit">
          <input type="submit" value="EDIT" />
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
